In [2]:
import pandas as pd
import seaborn as sns

In [3]:
rome_listing_1 = pd.read_csv('rome_listing_Q1_24.csv')
rome_listing_2 = pd.read_csv('rome_listing_Q4_23.csv')
rome_listing_3 = pd.read_csv('rome_listing_Q3_23.csv')
rome_listing_4 = pd.read_csv('rome_listing_Q2_23.csv')

In [ ]:
rome_listing_1.head(10)

In [ ]:
rome_listing_1.info()

In [6]:
rome_listing_1.shape

(30318, 18)

In [7]:
rome_listing_2.shape

(29357, 18)

In [8]:
rome_listing_3.shape

(28014, 18)

In [9]:
rome_listing_4.shape

(26256, 18)

In [ ]:
rome_listing_1.isnull().sum()

In [11]:
rome_listing_2.shape

(29357, 18)

In [ ]:
rome_listing_2.isnull().sum()

In [ ]:
rome_listing_3.isnull().sum()

In [ ]:
rome_listing_4.isnull().sum()

In [15]:
#adding a column for the quarter
rome_listing_1['quarter'] = 'Q1_2024'
rome_listing_2['quarter'] = 'Q4_2023'
rome_listing_3['quarter'] = 'Q3_2023'
rome_listing_4['quarter'] = 'Q2_2023'

In [16]:
#concatenating the data
rome_df = pd.concat([rome_listing_1, rome_listing_2, rome_listing_3, rome_listing_4 ],ignore_index=True, axis=0)

In [19]:
rome_df.shape

(113945, 15)

In [17]:
#removing unnecessary columns
columns_to_remove = ['last_review',
                   'number_of_reviews_ltm',
                   'license',
                   'neighbourhood_group']
                    #host name
rome_df.drop(columns=columns_to_remove, inplace=True)

In [18]:
rome_df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            11
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              5611
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 16561
calculated_host_listings_count        0
availability_365                      0
quarter                               0
dtype: int64

In [20]:
#fill missing price values with mean
rome_df['price'] = rome_df['price'].fillna(rome_df['price'].mean())

In [21]:
rome_df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            11
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 16561
calculated_host_listings_count        0
availability_365                      0
quarter                               0
dtype: int64